.form,
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  margin-bottom: 38px;
}

.input {
  width: 100%;
  max-width: 180px;
}

.textBreak {
  text-align: center;
}
