* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--gray-900);
  color: var(--text-default);
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;
}

input,
button {
  width: 100%;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
}

input {
  padding: 8px;
}

button {
  padding: 4px 8px;
  cursor: pointer;
  color: var(--text-default);
  background-color: var(--primary);
}
