.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 78px;
}

.icon {
  margin-bottom: 16px;
}

.title {
  font-size: 2rem;
  margin-bottom: 28px;
}

.listMenu {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;

  & button {
    padding: 8px 10px;
    border-radius: 8px;
  }
}
