.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 78px;
  margin-bottom: 38px;
}

.icon {
  margin-bottom: 16px;
}

.title {
  font-size: 2rem;
  margin-bottom: 28px;
}

.listMenu {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;

  & a,
  button {
    display: flex;
    background: var(--primary);
    padding: 8px;
    border-radius: 4px;
    color: var(--text-default);
  }
}
